<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="enviando(f)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input name="primeiro_nome" type="text" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input name="segundo_nome" type="text" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="email" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input name="senha" type="password" ngModel></ion-input>
    </ion-item>

    <ion-button fill="outline" expand="block" type="submit">Registrar</ion-button>
  </form>

  <p>Já tem uma conta? Faça login <a (click)="showLogin()">Aqui</a></p>
</ion-content>
